<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/font.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/main.css') }}"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='./img/favicon.svg') }}"
    />
  </head>
  <body>
    <section class="container">
      <img
        src="{{ url_for('static', filename='./img/logo.svg') }}"
        alt="OneSend Logo"
        class="logo"
      />
    </section>

    <script src="{{ url_for('static', filename='./js/app.js') }}"></script>
  </body>
</html>
